
.wherebee__card{
    width: 300px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}
.button {
    margin: 1rem;
}
.item__name {
    font-size: 1.5rem;
}
.item__update {
    margin-top: 1rem;
}
