.whereBeez {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.toggle__view {
    display: flex;
    justify-content: space-around;
}

.title {
    text-align: center;
    margin: 0;
    padding: 1rem;
}
