@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body{
    font-family: 'Patrick Hand', cursive;
  
}
.bg-img{
    background-image: url('./beezBack3.webp');
    background-size: cover;
    height: 100vh;
}
.landing__top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    float: left;
}
.landing__title {
    background-color: #D389FB;
    color:  #5C0099;
    border-radius: 40%;
    margin: 6rem 1rem;
    padding: 2rem;
    width: fit-content;
    font-size: 2rem;
}



.landing__numbers{
    background-color: #5C0099;
    color: #D389FB;
    margin: 1.5rem 1rem;
    width: fit-content;
    height: fit-content;
    border-radius: 40%;
    padding: 2rem;
    font-size: 1.5rem;
}

.landing__options {
    display: flex;
    justify-content: space-evenly;
}

.landing__view {
    display: flex;
    margin: 9rem 0 0 0;
    padding: 3rem;
    align-items: center;
    text-decoration: none;
}
/* .landing__view:active {
    
} */

.landing__viewtext {
    color: black;
    font-size: 1.5rem;
    text-align:center;
}


.landing__create {
    margin: 5rem 0 0 0 ;
    width: fit-content;
    height: fit-content;
    border-radius: 40%;
    padding: 2rem;
}

.card-img-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title{
    text-align: center;
    font-size: 1.75rem;
    color: black;
}

