h1 {
    background-color:#FDC500 ;
    border-radius: 40%;
    margin: 2rem 0 0 6rem;
    padding: 2rem;
    width: fit-content;
}

.landing__description{
    margin: 0 0 0 20rem;
}

h3{
    background-color: #5C0099;
    color: #D389FB;
    margin: 3rem 6rem;
    width: fit-content;
    height: fit-content;
    border-radius: 40%;
    padding: 2rem;
}

.landing__options {
    display: flex;
}

.landing__view {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    display: flex;
    background-color:#FDC500 ;
    margin: 2rem 0 0 6rem;
    padding: 2rem;
    width: 300px;
    height: 280px;
    align-items: center;
    text-decoration: none;
}

.landing__viewtext {
    color: black;
    font-size: 1.5rem;
    text-align:center;
}

.landing__create {
    background-color: #5C0099;
    color: #D389FB;
    margin: 3rem 6rem;
    width: fit-content;
    height: fit-content;
    border-radius: 40%;
    padding: 2rem;
}
